{% if items %}
    {% include "pagination.html" %}

    {% for item in items %}
    <br/>
    <div class="box">
        <b><a class="name" href="/item/{{ item.id }}/">{{ item.name }}</a></b><br/>
        {% if item.description %}{{ item.description }}<br/>{% endif %}
        <a href="{{ item.url }}"><i class="icon-download-alt"></i> скачать</a><br/>
        <br/>
        Теги:
        {% for tag in item.tags.all %}
            <a href="/tag/{{ tag.id }}/" style="white-space: nowrap;">
                <i class="{% if tag.kind %}{{tag.kind.icon}}{%else%}icon-tag{%endif%}"></i>
                {{ tag.name }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
        <br/>
        <a href="/item/{{ item.id }}/edit/"><i class="icon-pencil"></i> редактировать</a><br/>
    </div>
    <br/>
    {% endfor %}

    {% include "pagination.html" %}
{% else %}
    <p>Список пуст.</p>
{% endif %}
