{% if items %}
    {% include "pagination.html" %}

    {% for item in items %}
    <br/>
    <div class="box">
        <b><a class="name" href="/item/{{ item.id }}/">{{ item.name }}</a></b><br/>
        {{ item.updated }} <a href="#">редактировать</a><br/>
        <a href="{{ item.url }}"><i class="icon-download-alt"></i> скачать</a><br/>
        Теги:
        {% for tag in item.tags.all %}
            <a href="/tag/{{ tag.id }}/">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>
    <br/>
    {% endfor %}

    {% include "pagination.html" %}
{% else %}
    <p>Список пуст.</p>
{% endif %}
